@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    width: 95%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}

.card {
    padding: 20px;
    width: fit-content;
    background: #F2F2F2;
    font-size: 16px;
    height: fit-content;
}

.productName {
    margin-top: 0;
    margin-bottom: 10px;
}

.price {
    color: orange;
    font-size: 18px;
}

.discount {
    text-decoration-line: line-through;
}

.product p {
    margin: 5px 12px 10px 10px;
}

.card img {
    width: 135px;
    height: 135px;
    border-radius: 15px;
}

.product {
    display: flex;
    align-content: stretch;
}

#product2 {
    margin-top: 20px;

}

.dollar {
    display: flex;

}

.quantity {
    margin-left: 20px;
    border: 1px solid grey;
    height: 54px;
    width: 136px;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    align-items: center;
}

.quantity button {
    background: rgba(224, 224, 224, 1);

    ;
}

.formulary {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.shipping {
    display: flex;
    justify-content: space-between;
}

.total {
    display: flex;
    justify-content: space-between;

}

label {
    padding-top: 20px;
    color: gray;
}

.slots {
    width: 425px;
    height: 56px;
    border-radius: 12px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.slots2 {
    width: 200px;
    height: 56px;
    border-radius: 12px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.direction {
    margin-top: 20px;
}

.save {
    margin: 20px;
}

.continue {
    width: 166px;
    height: 54px;
    border-radius: 12px;
}


@media(width:320px){
    .card{
        font-size: 11px;
    }

    .quantity{
        margin-left: 0;
    }
}

@media (width:440px) {
    .container {
        display: block;
        flex-direction: row-reverse;
        justify-content: start;
    }

      .slots {
        width: 380px;
    }

    .quantity {
        margin-left: 40px;
    }

    .price {
        font-size: 12px;
    }

}

@media (max-width: 768px) {
    .container{
        display: block;
    }
    .card{
        width: 86%;
    }
    .product {
        justify-content: space-between;
    }

    .formulary{
        width: 90%;
    }

    .slots{
        width: 100%;
    }
}